<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng Nhập</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/css/Menu.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    @{
        var userGreeting = "Hello " + User.Identity.Name + "!";
    }
</head>
<body>
    <div class="image">
        <img src="~/Content/images/banner.jpg" />
    </div>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark" style="background-color: #0277BD;">
        <div class="container">
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    @if (User.IsInRole("Administrator"))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-white" href="@Url.Action("Index", "AspNetUsers")">Quản Lý Tài Khoản</a>
                        </li>
                    }
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Quản Lý Danh Mục
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="@Url.Action("Index", "MonHocs")">Quản Lý Môn Học</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Index", "GiangViens")">Quản Lý Giảng Viên</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Index", "LopDanhNghias")">Quản Lý Lớp Danh Nghĩa</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Index", "PhongHocs")">Quản Lý Phòng Học</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Index", "LopHocPhans")">Quản Lý Lớp Học Phần</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="@Url.Action("Index", "LichHocs")">Lập Lịch Học</a>
                    </li>
                    @if (User.IsInRole("Administrator"))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-white" href="@Url.Action("UploadExcel", "Excel")">Cập Nhật Dữ Liệu</a>
                        </li>
                    }
                    </ul>
                <ul class="navbar-nav navbar-right">
                    @Html.Partial("_LoginPartial")
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
